/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Tekst *********************/
p {
  margin-block: 2rem;
  font-size: 2.6rem;
  font: weight 300px;
  font-style: normal;
  text-wrap: wrap;
}
/*************** Overtekst *********************/
h1 {
  margin-block: 1.9rem;
  font-size: 150px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 16px 9px 60px rgb(0, 9, 250);
}
h2 {
  margin-block: 1.9rem;
  font-size: 70px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 16px 9px 60px rgb(0, 9, 250);
}

h3 {
  margin-block: 1.5rem;
  font-size: 35px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 100px;
  text-shadow: 16px 9px 60px rgb(0, 9, 250);
}
/*************** Font til tekst *********************/
@font-face {
  font-family: "federoregular";
  src: url("/fonts/federo-regular-webfont.woff2") format("woff2"),
    url("/fonts/federo-regular-webfont.woff") format("woff");
}
/*************** Font til tekst *********************/
p {
  font-family: "federoregular";
  src: url("/fonts/federo-regular-webfont.woff2") format("woff2"),
    url("/fonts/federo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-size: 30px;
}
/*************** font til options *********************/
nav {
  font-family: "federoregular";
  src: url("/fonts/federo-regular-webfont.woff2") format("woff2"),
    url("/fonts/federo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-size: 2.5rem;
}
ul.liste {
  color: rgb(32, 153, 78);
}
/*************** font til % *********************/
dl {
  font-family: "federoregular";
  src: url("/fonts/federo-regular-webfont.woff2") format("woff2"),
    url("/fonts/federo-regular-webfont.woff") format("woff");
  font-weight: bolder;
  font-style: normal;
  font-size: 2rem;
  color: rgb(239, 238, 241);
  text-align: left;
  text-shadow: 6px 9px 60px rgb(0, 9, 250);
  border: solid rgb(48, 30, 210);
  margin-bottom: 10%;
}
/*************** andet *********************/
dl {
  padding: 30px;
}
main {
  padding: 20px;
}
header {
  text-align: left;
}
body {
  background-color: rgb(146, 120, 151);
}

body.komponenterside {
  color: rgb(252, 255, 254);
}
body.forside {
  color: rgb(252, 255, 254);
}

body.operativsystemer {
  color: rgb(252, 255, 254);
}
body.galleri {
  color: rgb(252, 255, 254);
}
body.min_computer {
  color: rgb(252, 255, 254);
}

p.c {
  text-align-last: justify;
}

footer {
  font-size: 60x;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200px;
  text-shadow: 16px 9px 60px rgb(0, 9, 250);
  
}
